body {
    background-color: rgb(253, 255, 223);
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.login {
    width: 350px;
    height: 440px;
    margin: 0 auto;
    margin-top: 100px;
    border: 3px solid rgb(0, 214, 11);
    border-radius: 1ch;
}

.login-title {
    width: 352px;
    margin: 0 auto;
    margin-top: -1px;
    margin-left: -1px;
    text-align: center;
    font-size: 40px;
    color: rgb(251, 255, 173);
    background-color: rgb(0, 214, 11);
}

.sign-in,
.sign-up {
    margin-top: 15px;
    margin-left: 14px;
}

.sign-up {
    margin-top: 10px;
}

.basicinput {

    padding: 10px;
    width: 300px;
    height: 20px;
    margin-bottom: 3px;
    border: 1px solid green;
    box-shadow: none;
    font-size: 1.5ch;

}

.basicinput:focus {
    outline: 1px solid rgb(2, 73, 2);
}


.basicbutton {
    width: 322px;
    height: 30px;
    margin-top: 7px;
    background: rgb(40, 255, 61);
    border-color: rgb(23, 255, 35);
    outline: 0.5px solid rgb(22, 145, 0);
    font-size: 17px;
    cursor: pointer;

}

.basicbutton:hover {
    background: rgb(26, 228, 46);
    border-color: rgb(23, 255, 35);
}

#signinalert,
#signupalert {
    margin: 0;
    font-size: 13px;
    color: rgb(255, 55, 55);
}

.gameScene {
    position: fixed;
    width: 600px;
    height: 100%;
    margin: 0 auto;
    margin-left: 50%;
    left: -300px;
    border-left: 5px solid rgb(51, 51, 51);
    border-right: 5px solid rgb(51, 51, 51);
}

.title {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;

}

.title-text {
    width: 300px;
    font-size: 40px;
    color: rgb(251, 255, 173);
    background-color: rgb(0, 214, 11);
    border-radius: 5px;
}

.logic {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
}

.logic :nth-child(1) {
    margin-top: -40px;
    margin-bottom: -25px;
    font-size: 50px;

}

.logic :nth-child(2) {
    margin-top: 40px;
}

#typing-value {
    width: 180px;
    height: 23px;
    position: absolute;
    left: 50%;
    margin-left: -92px;
    margin-top: 250px;
    text-align: center;
    border: 1px solid rgb(0, 177, 9);
    border-radius: 3px;
}

#score {
    text-align: center;
    margin-top: 30px;
    font-size: 100px;
}

.UuserNames {
    font-size: 20px;
}

.leaderBoard {
    display: flex;
    height: 100px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.leaderBoardOpen {
    position: fixed;
    display: inline-block;
    font-size: 35px;
    cursor: pointer;
}

.leaderContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.leaderBoard-Box {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
}

.leader-icon {
    display: inline-block;
    font-size: 27px;
    font-weight: 650;
    margin-left: 30px;
    margin-top: 45px;
}

.leaderExit {
    float: right;
    margin-top: 40px;
    padding-right: 10px;
    font-size: 27px;
    cursor: pointer;
}

.leaderList {
    padding: 0;
    margin-top: 45px;
}

.leaderText {
    text-align: left;
    font-size: 23px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    border-top: 1px solid rgb(196, 196, 196);
}

.leaderText:nth-child(4),
.leaderText:nth-child(5),
.leaderText:nth-child(6),
.leaderText:nth-child(7),
.leaderText:nth-child(8),
.leaderText:nth-child(9) {
    margin-left: 10px;
}

.leaderText:last-child {
    border-bottom: 1px solid rgb(196, 196, 196);
    margin-left: 4px;
}

.vibration {
    animation: vibration 0.1s infinite;
}

@keyframes vibration {
    from {
        transform: rotate(2.5deg);
    }

    to {
        transform: rotate(-2.5deg);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin-end {
    0% {
        transform: rotate(0deg);
        border-top: 12px solid rgb(255, 70, 70);
    }
    14.3% {
        border-top: 12px solid rgb(255, 190, 69);
    }
    28.6% {
        border-top: 12px solid rgb(255, 255, 68);

    }
    42.9% {
        border-top: 12px solid rgb(40, 124, 40);
    }
    57.2% {
        border-top: 12px solid rgb(74, 74, 255);

    }
    71.5% {
        border-top: 12px solid rgb(91, 45, 123);

    }
    85.8% {
        border-top: 12px solid rgb(136, 43, 136);

    }
    100% {
        transform: rotate(360deg);
        border-top: 12px solid rgb(255, 70, 70);
    }
}

.chainDiv {
    animation: spin 2s linear infinite;
    position: fixed;
    margin-top: 230px;
    margin-left: 60px;
    width: 80px;
    height: 80px;
    background-color: rgb(193, 255, 198);
    border: 12px solid rgb(62, 240, 86);
    border-top: 12px solid rgb(0, 197, 26);
    border-radius: 50%;
}
.chain-blue {
    background-color: rgb(193, 247, 255);
    border: 12px solid rgb(62, 210, 240);
    border-top: 12px solid rgb(0, 154, 197);
}
.chain-red {
    background-color: rgb(255, 193, 193);
    border: 12px solid rgb(240, 118, 62);
    border-top: 12px solid rgb(197, 30, 0);
}
.chain-end {
    animation: spin-end 2s linear infinite;
    position: fixed;
    margin-top: 230px;
    margin-left: 60px;
    width: 80px;
    height: 80px;
    background-color: rgb(244, 249, 249);
    border: 12px solid rgba(204, 255, 0, 0.5);
    border-top: 12px solid rgb(197, 30, 0);
    border-radius: 50%;
}

.chainNum {
    position: fixed;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 240px;
    margin-left: 72px;
    font-size: 40px;
    text-align: center;
    line-height: 73px;
    
}
.stack {
    position: fixed;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 263px;
    margin-left: 72px;
    font-size: 13px;
    text-align: center;
    line-height: 73px;

}

.hide {
    display: none;
}