<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>backend</title>
</head>
<body>
    <h1>hi</h1>
    <% for (id of ids) { %>
        <form action="wLdNjwLdelete/<%= id.id%>" method="post">
            <input type="submit" value="삭제하기 <%= id.id%>">
        </form>
    <% } %>
    
</body>
</html>